* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: auto;
}

header {
  height: 64px;
  width: 100%;
  background: #24292E;
}

.navleft {
  display: inline-block;
  width: 70%;
}

.navright {
  display: inline-block;
  text-align: right;
  width: 28%;
  color: #fff;
  margin-right: 1%;
}

.navleft i {
  color: #fff;
  font-size: 25pt;
  margin: 1.2%;
}

.navleft input {
  width: 33.5%;
  background-color: #3F4448;
  color: #8D9092;
  border-radius: 3px;
  border: none;
}

.navleft a {
  border: none;
  color: #fff !important;
  background: #24292E;
}

.navleft a:hover {
  color: #3F4448;
}

.navright img {
  width: 5%;
}

.bell {
  margin-right: 4%;
}

.down {
  margin-right: 3%;
}

.container {
  margin-top: 24px;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 1265px;
}

aside .profilepic {
  width: 270px;
  height: 271px;
}

.picborder {
  border: solid 1px #727373;
  width: 272px;
}

.statusicon i {
  margin-left: 3%;
  margin-top: 5%;
}

.statusicon p {
  display: inline-block;
  margin-bottom: 4.5%;
  font-size: 8pt;
  margin-left: 5%;
}

.editprofile {
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  margin-bottom: 6.1%;
  width: 272px;
  border-radius: 3px;
}

h1 {
  font-size: 26px;
  width: 271px;
  padding-top: 15px;
}

h2 {
  font-size: 20px;
  line-height: 0;
  padding-bottom: 15px;
}

aside p {
  display: inline-block;
  margin-right: 37%;
}

.orgs {
  border-top: solid 1px #727373;
  padding-top: 16px;
  padding-bottom: 16px;
}

.orgs p {
  margin-right: 70%;
}

.orgs .python {
  width: 13.09%;
}

#pagelinks {
  text-align: center;
  padding-bottom: 16px;
}

#pagelink {
  width: 13% !important;
}

#navbar {
  width: 70%;
  margin-top: 16px;
  cursor: pointer;
}

#navbar .repositories {
  width: 17%;
  border-bottom: solid 1.5px #DE5E13;
}

#navbar .stars {
  width: 10%;
}

#navbar a {
  width: 17%;
}

#navbar i {
  color: #EDEDEE;
  margin-left: 0.5%;
  position: relative;
}

#navbar span {
  position: absolute;
  color: #565D66;
  left: 3.9px;
  font-family: sans-serif;
  font-size: 15px;
}

#searchbar input {
  width: 108.1%;
  height: 34px;
  border-radius: 3px;
  border: solid 1px;
}

#searchbar {
  display: flex;
  border-top: solid 1px #727373;
  border-bottom: solid 1px #727373;
  padding-bottom: 16px;
  padding-top: 16px;
}

#searchbar .col-md-7 {
  display: inline-block;
  margin-right: 4%;
}

.btn {
  padding: 0.175rem 0.075rem;
}

#dropdownone button {
  width: 95px;
  height: 34px;
  border-color: #F1F4F7;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
}

#dropdowntwo button {
  width: 127px;
  height: 34px;
  border-color: #F1F4F7;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
}

.dropdown i {
  color: #727679;
  font-style: normal;
  font-size: 14px;
}

.dropdown span {
  color: #24292E;
  font-size: 14px;
}

#newbutton button {
  height: 34px;
  width: 71.5px;
}

#repository {
  padding-top: 3%;
  padding-bottom: 1%;
  border-bottom: solid 1px #727373;
}

.navleft a {
  margin-left: 1%;
}

.dropdown-toggle::after {
  color: #24292E;
}

#newbutton button {
  background-color: #2FCC5D;
  color: #fff;
  border-radius: 8%;
  background-image: linear-gradient(-180deg, #2FCC5D, #238D44 90%);
}

#newbutton svg {
  color: #fff;
  margin-bottom: 6%;
  margin-right: 6%;
}

#repository a {
  font-size: 23px;
}

#repository button {
  margin-left: 9%;
  display: inline-block;
  height: 28px;
  width: 64px;
  border-radius: 6%;
  font-size: 12px;
}

#repository p {
  font-size: 12px;
  margin-left: 3%;
}

#repository .row {
  width: 50%;
  margin-top: 1%;
}

#repository i {
  padding-top: 0.7%;
  font-size: 12px;
  margin-left: 3%;
}

#navbutton:hover {
  color: #727373 !important;
}

.pagenav:hover {
  border-bottom: solid 1.5px #727373;
}

/*# sourceMappingURL=styles.css.map */
